
.carousel {
  padding-top: 40px;
}

.carousel-root{
  margin: 10px;
  margin-bottom: 30px;
  height: 0px;
  border-radius: 25px;
  font-size: 25px;
}


.carousel .slider-wrapper {
  background: linear-gradient(red, lightcoral);
  /* height: 200px; */
  height: 500px;
  border-radius: 25px;
} 

.images {
 border: 3px solid white;
 
 width: 10%;
 height: 10%;
 align-items: center;
 margin: auto,0;
}

.home-logo {
 border: 3px solid green;
}

.away-logo {
 border: 3px solid blue;
 position:relative;
}