.carousel {
  padding-top: 40px;
}

.carousel-root{
  margin: 10px;
  margin-bottom: 30px;
  height: 0px;
  border-radius: 25px;
  font-size: 25px;
}

.carousel .slider-wrapper {
  display: relative;
  background: whitesmoke; 
  border: 5px solid rgba(7, 7, 7, 0.236);
  height: 420px;
  border-radius: 25px;
} 

.first-row {
  padding-top: 10px;
  display: flex;
  align-items: center;
  margin: auto;
  justify-content: center;
}

.game {
  align-content: center;
}

.images {
  height: 20%;
}


