.carousel {
  padding-top: 40px;
}

.carousel-root{
  margin: 10px;
  margin-bottom: 30px;
  height: 0px;
  border-radius: 25px;
  font-size: 25px;
}

.carousel .slider-wrapper {
  display: relative;
  background: whitesmoke; 
  border: 5px solid rgba(7, 7, 7, 0.236);
  height: 430px;
  border-radius: 25px;
} 

.first-row {
  padding-top: 10px;
  display: flex;
  align-items: center;
  margin: auto;
  justify-content: center;
}

.game {
  align-content: center;
}

.images {
  height: 20%;
}


.sign-up-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: -30px;
  width: 90%;
  height: 120px;
}

.sign-up-text {
  color: black;
  font-size: 28px;
  text-align: center;
}

.sign-up-button {
  color: white;
  border: 3px solid white;
  margin-top: -10px;
  border-radius: 25px;
  cursor: pointer;
  font-size: 25px;
  text-align: center;
  width: 150px;
  background: linear-gradient(red, lightcoral);
}

.sign-up-button:hover {
  cursor: pointer;
  background: linear-gradient(rgb(221, 2, 2), lightcoral);
}
