@import url("../fonts/j-league/stylesheet.css");

* {
  font-family: 'JLEAGUE KICK Bold Condensed';
}

.navbar {
  display: flex;
  justify-content: center; 
  background-color: #333;
  height: 50px;
}

.topnav {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  width: 80%;
}

.topnav a {
  color: white;
  padding: 10px;
  text-decoration: none;
  font-size: 25px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.username {
  background: linear-gradient(red, lightcoral);
  color: white;
  align-items: right;
}