

.fixtures-box {
  width: 100%; /* Use percentage for responsiveness */
  max-width: 700px; /* Set a maximum width if needed */
  margin: 0 auto; /* Center the element */
}

.fixtures-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap; /* Use wrap instead of inherit */
  border: 6px solid pink;
  max-width: 100%; /* Limit the width of the container */
}

@media (max-width: 80px) {
  .fixtures-container {
    flex-direction: column; /* Stack fixtures vertically on small screens */
  }

  .play-header {
    font-size: 36px; /* Decrease font size for smaller screens */
  }
}


.play-header {
  font-size: 60px;
  margin: 30px, auto;
  align-items: center;
  text-align: center;
}

form {
  margin: auto;
}

.predict-game {
 text-align: center;
 background-color: white;
 display: flex;
 flex-direction: column;
 justify-content: space-around;
 align-items: center;
 width: 90%;
 max-width: 600px;
 border-radius: 25px;
 margin: auto;
 padding-top: 20px;
 padding-bottom: 20px;
 border: 3px solid blue;
}



.logo {
  /* height: 80px; */
  width: 30px; 
}

.game-box {
 width: 100%;
 height: 100%;
 font-size: 50px;
 border: 3px solid lightgreen;
}

.scorebox-container {
  display: flex;
  border: 3px solid yellow;
}

.scorebox {
 width: 40px;
 /* height: 70px; */
 text-align: center;
 border: 3px solid purple;
}

.space {
 padding-bottom: 20px;
}

.colon {
  padding-left: 10px;
  padding-right: 10xpx
}

/* Need to fix this */
.date-and-time {
  display: grid;
  grid-template-rows: 2fr;
  align-items: center;
  margin: auto;
  justify-content: center;
  border: 3px solid red;
}